body {
  background: #dadcdc;
  font-family: "Roboto", sans-serif;
  color: #885df1;
  background-image: url("glass.jpg"), url("1img.jpg"), url("2img.jpg"),
    url("3img.jpg"), url("4img.jpg"), url("5img.jpg"), url("6img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: backgroundTransition 30s infinite;
}
@keyframes backgroundTransition {
  0% {
    background-image: url("glass.jpg");
  }
  16.6% {
    background-image: url("1img.jpg");
  }
  33.3% {
    background-image: url("2img.jpg");
  }
  50% {
    background-image: url("3img.jpg");
  }
  66.6% {
    background-image: url("4img.jpg");
  }
  83.3% {
    background-image: url("5img.jpg");
  }
  100% {
    background-image: url("6img.jpg");
  }
}

a {
  color: #bd446b;
}

.weather-app {
  background: rgb(245, 243, 243);
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

.search-form-input::placeholder {
  color: #729daf;
  font-style: Open Sans, sans-serif;
  opacity: 1;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #88b0cc;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: #f9f7fe;
}
main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: #396d77;
}

.weather-app-details {
  font-size: 16px;
  color: #1d5052;

  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #bd446b;
}

.weather-app-temperature-container {
  display: flex;
  color: #5090a3;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  font-style: italic;
}

.weatehr-app-unit {
  margin-top: 16px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: #2a5a68;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #396d77;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
